/** Initial Variables **/

@import "~cypher-bulma-extensions/scss/utilities/initial-variables";
@import "~bulma_scss/scss/utilities/initial-variables";

$success-lighter: #c1f5a6;
$success-light: #588542;
$success: #588542;

$info-lighter: #cef;
$info-light: #3A648E;
$info: #3A648E;

$danger-lighter: #FFD9D9;
$danger-light: #E25A53;
$danger: #A24141;


