/**
  Derived variables MUST be declared here first
  before derived variables from Bulma package
 */

$primary: $turquoise !default;
$primary-light: lighten($primary, 5%) !default;
$primary-lighter: lighten($primary, 12%) !default;
$primary-dark: darken($primary, 5%) !default;
$primary-darker: darken($primary, 12%) !default;

$secondary: $purple !default; // ADDED IN CYPHER THEME
$secondary-light: lighten($secondary, 5%) !default;
$secondary-lighter: lighten($secondary, 12%) !default;
$secondary-dark: darken($secondary, 5%) !default;
$secondary-darker: darken($secondary, 12%) !default;

/**
  Extended colors
 */
$info: $cyan !default;
$info-light: lighten($info, 5%) !default;
$info-lighter: lighten($info, 12%) !default;
$info-dark: darken($info, 5%) !default;
$info-darker: darken($info, 12%) !default;

$green: $green !default;
$green-light: lighten($green, 5%) !default;
$green-lighter: lighten($green, 12%) !default;
$green-dark: darken($green, 5%) !default;
$green-darker: darken($green, 12%) !default;

$warning: $yellow !default;
$warning-light: lighten($warning, 5%) !default;
$warning-lighter: lighten($warning, 12%) !default;
$warning-dark: darken($warning, 5%) !default;
$warning-darker: darken($warning, 12%) !default;

$danger: $red !default;
$danger-light: lighten($danger, 5%) !default;
$danger-lighter: lighten($danger, 12%) !default;
$danger-dark: darken($danger, 5%) !default;
$danger-darker: darken($danger, 12%) !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

// Invert colors

$orange-invert: findColorInvert($orange) !default;
$yellow-invert: findColorInvert($yellow) !default;
$green-invert: findColorInvert($green) !default;
$turquoise-invert: findColorInvert($turquoise) !default;
$cyan-invert: findColorInvert($cyan) !default;
$blue-invert: findColorInvert($blue) !default;
$purple-invert: findColorInvert($purple) !default;
$red-invert: findColorInvert($red) !default;

$primary-invert: $turquoise-invert !default;
$secondary-invert: $purple-invert !default;
$info-invert: $cyan-invert !default;
$success-invert: $green-invert !default;
$warning-invert: $yellow-invert !default;
$danger-invert: $red-invert !default;
$light-invert: $dark !default;
$dark-invert: $light !default;

// General colors

$background: $white-ter !default;

$border: $grey-lighter !default;
$border-hover: $grey-light !default;

// Text colors

$text: $grey-dark !default;
$text-invert: findColorInvert($text) !default;
$text-light: $grey !default;
$text-strong: $grey-darker !default;

// Code colors

$code: $red !default;
$code-background: $background !default;

$pre: $text !default;
$pre-background: $background !default;

// Link colors

$link: $primary !default;
$link-invert: $blue-invert !default;
$link-visited: $purple !default;

$link-hover: $grey-darker !default;
$link-hover-border: $grey-light !default;

$link-focus: $grey-darker !default;
$link-focus-border: $blue !default;

$link-active: $grey-darker !default;
$link-active-border: $grey-dark !default;

// Typography

$family-primary: $family-sans-serif !default;
$family-secondary: $family-serif !default; // THIS IS CHANGED IN CYPHER
$family-code: $family-monospace !default;

$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;


$colors: mergeColorMaps(("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "default": ($grey-lighter, $body-color), "primary": ($primary, $primary-invert), "secondary": ($secondary, $secondary-invert), "link": ($link, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert)), $custom-colors) !default;
$shades: mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades) !default;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;






