$spaces-size-unit: rem;
$spaces-margin-key: 'has-margin';
$spaces-padding-key: 'has-padding';
$spaces-positions: (
    ('top', 'top'),
    ('right', 'right'),
    ('bottom', 'bottom'),
    ('left', 'left')
);
$spaces-separator: '-';
$spaces-sizes: (
    ('0', 0),
    ('1', 0.25),
    ('2', 0.5),
    ('3', 1),
    ('4', 2),
    ('5', 4),
    ('6', 6),
    ('7', 8),
);

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $spaces-size-unit);
}

@each $size in $spaces-sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$spaces-margin-key}#{$spaces-separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue);
  }
  .#{$spaces-padding-key}#{$spaces-separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue);
  }
  @each $position in $spaces-positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$spaces-margin-key}#{$spaces-separator}#{$posKey}#{$spaces-separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
    .#{$spaces-padding-key}#{$spaces-separator}#{$posKey}#{$spaces-separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
  }
}
