$navbar-logo-height: 36px !default;
$navbar-logo-hover-opacity: 0.5 !default;
$navbar-logo-max-height: none !default;

.navbar-brand {
  .navbar-item:hover {
    opacity: $navbar-logo-hover-opacity;
  }
}

.navbar-logo {
  height: $navbar-logo-height;
  max-height: $navbar-logo-max-height !important;
  display: block;
}
