$navbar-logo-height: 36px !default;
$navbar-logo-hover-opacity: 0.5 !default;

.navbar-brand {
  .navbar-item:hover {
    opacity: $navbar-logo-hover-opacity;
  }
}

.navbar-logo {
  height: $navbar-logo-height;
  display: block;
}
