$navbar-logo-height: 36px !default;
$navbar-logo-hover-opacity: 0.5 !default;
$navbar-logo-max-height: none !default;

.navbar-brand {
  .navbar-item:hover {
    opacity: $navbar-logo-hover-opacity;
  }
}




.navbar-logo {
  height: $navbar-logo-height;

  // Because there is this css that will shrink logo in navbar-item
  // .navbar-item img { max-height: 1.75rem; }
  max-height: $navbar-logo-max-height !important;

  display: block;
}
